<%- include('../partials/header') %>
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Add Movie</h3>
                        <form class="requires-validation" method="post" enctype="multipart/form-data" novalidate>

                            <div class="col-md-12">
                                <input class="form-control" type="text" name="title" placeholder="Movie Title" required>
                                <div class="valid-feedback">Title field is valid!</div>
                                <div class="invalid-feedback">Title field cannot be blank!</div>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" type="text" name="description"
                                    placeholder="Movie description" required>
                                <div class="valid-feedback">Description field is valid!</div>
                                <div class="invalid-feedback">Description field cannot be blank!</div>
                            </div>

                            <div class="col-md-12">
                                <select class="form-select mt-3" name="genre" required>
                                    <option selected disabled value="">--Select Genres--</option>
                                    <option value="Action">Action</option>
                                    <option value="Adventure">Adventure</option>
                                    <option value="Comedy">Comedy</option>
                                    <option value="Drama">Drama</option>
                                    <option value="Horror">Horror</option>
                                    <option value="Fantasy">Fantasy</option>
                                    <option value="Thriller">Thriller</option>
                                    <option value="Mystery">Mystery</option>
                                    <option value="Sci-Fi">Sci-Fi</option>
                                    <option value="Romance">Romance</option>
                                    <option value="Animation">Animation</option>
                                    <option value="Musical">Musical</option>
                                    <option value="Historical">Historical</option>
                                    <option value="Documentary">Documentary</option>
                                </select>
                                <div class="valid-feedback">You selected a Genres!</div>
                                <div class="invalid-feedback">Please select a Genres!</div>
                            </div>

                            <div class="d-flex justify-content-between">
                                <div class="col-md-6 pe-2">
                                    <input class="form-control mt-3" type="number" min="1000" max="9999" name="year"
                                        placeholder="Enter year" required>
                                    <div class="valid-feedback">Year field is valid!</div>
                                    <div class="invalid-feedback">Year field is invalid!</div>
                                </div>
                                <div class="col-md-6 ps-2">
                                    <select class="form-select mt-3" name="rating" required>
                                        <option selected disabled value="">--Select Rating--</option>
                                        <option value="0.5">0.5</option>
                                        <option value="1">1</option>
                                        <option value="1.5">1.5</option>
                                        <option value="2">2</option>
                                        <option value="2.5">2.5</option>
                                        <option value="3">3</option>
                                        <option value="3.5">3.5</option>
                                        <option value="4">4</option>
                                        <option value="4.5">4.5</option>
                                        <option value="5">5</option>
                                    </select>
                                    <div class="valid-feedback">You selected a Rating!</div>
                                    <div class="invalid-feedback">Please select a Rating!</div>
                                </div>
                            </div>

                            <div class="col-md-12 mt-3">
                                <input class="form-control" type="file" name="file" required>
                                <div class="valid-feedback">Poster field is valid!</div>
                                <div class="invalid-feedback">Poster field cannot be blank!</div>
                            </div>

                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary">Add Movie</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>
        <script>
            (function () {
                'use strict'
                const forms = document.querySelectorAll('.requires-validation')
                Array.from(forms)
                    .forEach(function (form) {
                        form.addEventListener('submit', function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }
                            form.classList.add('was-validated')
                        }, false)
                    })
            })()

        </script>